<!--
============================================
; Title: Assignment 9.2 - Capstone
; Author: Professor Krasso
; Date: 24 July 2022
; Modified By: Joel Hartung
; Title: Assignment 9.2 - Capstone
;===========================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div  style="text-align: center">
        <img src="../assets/loan_image.jpeg" style="max-width: 350px" />
      </div>
      <div  style="text-align: center">
        <em>
          We can help you secure your loan today!
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 style="text-align: center; color:#946b2d">Why use the Loan Calculator App?</h1>
    <p>
      House Ravenclaw's Loan Calculator App can help you get the best terms for your loan! Simply add your loan amount, interest rate, and years of the loan to find your monthly payment and total interest paid throughout the life of your loan. House Ravenclaw is dedicated to helping even the most humble of wizards obtain the life of their dreams with fair loan rates and terms. Thank you for using our loan calculator app!
    </p>
    <h1 style="text-align: center; color:#946b2d">Testimonials</h1>
    <p>
      Don't take our word for it! Listen to our satisfied customer testimonials!
    </p>
    <p>
      "House Ravenclaw's Loan Calulator App helped me get the best deal on my new want and broom. Their application helped get the best possible wizarding essentials without breaking my budget. Thank you, House Ravenclaw!" - Hermione Granger
    </p>
    <p>
      "I don't really know how I got here, but I did find the tool useful for my wizarding world domination plans. You are all doomed." - He Who Should Not Be Named (Lord Voldemort)
    </p>
    <p>
      "Voldemort's minions burned our house down, so we needed a new house. This app did the trick, and got us back on our feet in no time, no thanks to those pesky death eaters. Thanks, House Ravenclaw!" - The Weasleys
    </p>
  </div>
</div>

