<!--
============================================
; Title: Assignment 9.2 - Capstone
; Author: Professor Krasso
; Date: 24 July 2022
; Modified By: Joel Hartung
; Title: Assignment 9.2 - Capstone
;===========================================
-->

<!-- using material design for toolbars and flex layout -->
<mat-toolbar class="toolbar" style="background-color:#0e1a40">
  <mat-toolbar-row>
    <div style="width: 90%">
      <div fxLayout="row wrap" fxLayoutAlign="end start">
        <button mat-button routerLink="/loan-calculator">Home</button>
        <button mat-button routerLink="/contact">Contact</button>
        <button mat-button routerLink="/about">About</button>
     </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<br />

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="main-container">
      <mat-card-title style="text-align: center; color: #946b2d">
        {{ assignment }}
      </mat-card-title>
      <br />
      <br />
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>
